<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ETN DEMO{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <style>
            h1, form, .link, .error {
                text-align: center;
            }
            h1 {
                font-size: 35px;
            }
            form input {
                font-size: 40px;
            }
            .error {
                font-size: 30px;
                font-weight: bold;
                margin-top: 50px;
                color: #FF0000;
            }
            .movies-container {
                display: grid;
                row-gap: 30px;
                grid-template-columns: auto auto auto auto auto;
                margin-top: 10px;
            }
            .movies-container .movie {
                border: 1px solid #000;
                width: 300px;
            }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
